.product {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 12em;
	height: 12em;
	margin: 1rem;
	padding: 1rem;
	align-items: center;
	justify-content: space-around;

	background-color: #2b3946;
	box-shadow: 0 0 .5rem #171e25;
	border-radius: 12px;
	transition: .5s;
	/* animation: slide-up .5s ease-out; */
}
/* @keyframes slide-up {
	from {
		opacity: 0;
		transform: translateY(30%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
} */

/* ICONS */
.product-info-box {
	width: 1.5rem;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 1;
}

.product-info-icon {
	fill: lightblue;
	transition: .3s;
}

.product-info-icon:hover {
	fill: rgb(115, 163, 179);
	cursor: pointer;
}

.product-description {
	position: absolute;
	left: -100%;
	width: 200px;
	padding: .5em;
	
	background-color: rgb(31, 40, 51);
	box-shadow: 0 0 .5em #222e38;
	border-radius: 12px;
	color: white;
}

.product-pill-icon {
	width: 50px;

	fill: lightblue;
	transform: rotate(135deg);
}

.product-syrup-icon {
	width: 50px;
	
	fill: lightblue;
	transform: rotate(45deg);
}

.product-type-icon-box {
	position: relative;
}

.product-amount {
	position: absolute;
	left: 3%;
	bottom: 3%;

	color: lightblue;
}

.product-name {
	font-size: 1.1em;
	color: lightblue;
}

.product-price {
	font-size: 1.3em;
}


