.shop {
	margin-top: 7rem;

	/* animation: slide-down .5s ease-out; */
}
/* @keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-10%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
} */
