.product-in-cart {
	display: flex;
	align-items: center;
  padding: 1rem;

	transition: .3s;
}

.product-in-cart-name {
	margin: auto auto auto 1em;

	font-size: 1.1em;
}

.product-in-cart-price {
	padding: .5rem;

	background-color: #222e38;
	border-radius: 12px;
	font-size: 1.2em;
}

.cart-pill-icon,
.cart-syrup-icon {
  width: 40px;

  fill: lightblue;
}

.cart-pill-icon {
  transform: rotate(135deg);
}

.cart-syrup-icon {
  transform: rotate(45deg);
}

.cart-bin-icon {
	width: 40px;
	margin-left: 1em;
	padding: .25em;

	fill: lightblue;
	transition: .3s;
}
.cart-bin-icon:hover {
	background-color: coral;
	border-radius: 12px;
	fill: white;
	cursor: pointer;
}
