.product-in-cart {
	display: flex;
	align-items: center;
  padding: 1rem;

	transition: .3s;
}

.product-in-cart-name {
	margin: auto auto auto 1em;

	font-size: 1.1em;
}

.product-in-cart-price {
	padding: .5rem;

	background-color: #222e38;
	border-radius: 12px;
	font-size: 1.2em;
}

.cart-pill-icon,
.cart-syrup-icon {
  width: 40px;

  fill: lightblue;
}

.cart-pill-icon {
  transform: rotate(135deg);
}

.cart-syrup-icon {
  transform: rotate(45deg);
}

.product-in-cart-bin-icon {
	width: 40px;
	margin-left: 1em;
	padding: .4em;

	fill: lightblue;
	transition: .3s;
	animation: slide-left .3s ease-out;
}
.product-in-cart-bin-icon:hover {
	background-color: rgb(92, 14, 0);
	border-radius: 12px;
	fill: rgb(253, 95, 95);
	cursor: pointer;
}
@keyframes slide-left {
	from {
		opacity: 0;
		transform: translateX(30%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}
