.bargain-box {
	position: relative;
	padding: .2rem;

	background-color: #2e3e4b;
	border-radius: 12px;
	overflow: hidden;
	z-index: -3;
}
.bargain-box::before {
	content: '';
	width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 500px solid orange;
	position: absolute;
	left: -25%;
	top: 10%;
	
	z-index: -2;
	animation: roll 40s linear infinite;
}
@keyframes roll {
	to {
		transform: rotate(360deg);
	}
}

.bargain {
	width: 350px;
	padding-bottom: 2.5rem;
	text-align: center;
}

.section-title {
	font-size: 2.2rem;
}

.image {
	width: 85%;
	margin: 1.3rem 0;
	
	border-radius: 12px;
	box-shadow: 0 0 .5rem black;
	opacity: .8;
}

.desc {
	font-size: 1.2rem;
	margin-bottom: 1.3rem;
}

.old-price {
	margin-bottom: .7rem;

	font-size: 1.4rem;
	color: gray;
	text-decoration: line-through;
}

.new-price {
	font-size: 1.8rem;
	color: #06b5e0;
}