.auth-box {
	display: flex;
	flex-direction: column;
	gap: 2em;
	position: fixed;
	width: 500px;
	margin-left: 25%;
	padding: 2em;
	z-index: 30;

	font-size: 1.3rem;
}

.auth-control {
	display: flex;
	flex-direction: column;
}

.auth-control-title {
	margin-bottom: .3em;
}

input {
	width: 70%;
	padding: .25em;

	background-color: #415769;
	border-radius: 12px;
	border: 2px solid #222e38;
	font-size: 1.1em;
	transition: .3s;
}
input:focus {
	width: 80%;

	background-color: #57748d;
	border-radius: 12px 12px 0 0;
	border-bottom: 2px solid #06b5e0;
	outline: none;
}