.navbar {
	max-width: 1300px;
	display: flex;
	padding: .5rem;
	position: sticky;
	top: 0;
	margin: auto;
	align-items: center;
	z-index: 20;

	background-color: rgb(46, 62, 75);
	box-shadow: 0 0 1rem #1b1b1b;
	border-radius: 0 0 12px 12px;
	opacity: .9;
	transition: .3s;
}
.navbar:hover {
	opacity: 1;
}

.title-box {
	display: flex;
	margin: auto auto auto 0;
}

.title {
	margin-left: .2rem;

	font-size: 1.3rem;
	text-decoration: none;
	text-shadow: 0 0 .1em #06b5e0;
	transition: .2s;
}
.title:hover {
	color: rgb(6, 181, 224);
	cursor: pointer;
}

.title-icon {
	font-size: 1.2rem;
}

.nav-links {
	display: flex;
	margin: auto;
	gap: 10vw;
}

.nav-links a {
	position: relative;
	width: fit-content;

	color: white;
	text-decoration: none;
	transition: .2s;
}
.nav-links a:hover {
	color: rgb(6, 181, 224);
}
.nav-links a::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 2px;
	opacity: 0;
	left: -10%;
	bottom: -10%;
	margin: auto;
	z-index: 3;

	background-color: rgb(6, 181, 224);
	transition: .5s;
}
.nav-links a:hover::before {
	width: 120%;
	opacity: 1;
}

.cart-box {
	position: relative;
	display: flex;
	align-items: center;
	gap: .2rem;
	margin-right: 2rem;
}

.navbar-cart-icon {
	font-size: 1.2rem;
}

.auth-btn {
	padding: .6rem 1rem;

	background-color: rgb(34, 46, 56);
	border: none;
	border-radius: 12px;
	font-size: 1rem;
	transition: .2s;
}
.auth-btn:hover {
	background-color: rgb(41, 54, 66);
	color: rgb(6, 181, 224);
	cursor: pointer;
}


@media screen and (min-width: 1300px) {
	.nav-links {
		gap: 130px;
	}
}