.cart-box {
	position: relative;
	display: flex;
	align-items: center;
	gap: .2rem;
	margin-right: 2rem;
	padding: .6rem 1rem;
	
	border-radius: 12px;
	transition: .3s;
}

.cart-box:hover {
	background-color: #222e38;
	color: #06b5e0;
	border-radius: 12px;
	cursor: pointer;
}
.cart-box:hover :nth-child(1), .cart-box:hover :nth-child(2) {
	color: #06b5e0;
	transition: .3s;
}

.shake {
	animation: shake 1s ease-out;
}

@keyframes shake {
	0% {
		transform: rotate(30deg);
	}
	20% {
		transform: translateY(-5px);
	}
	40% {
		transform: rotate(-30deg);
	}
	60% {
		transform: rotate(30deg);
	}
	80% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(0deg);
		transform: translateY(0px);
	}
}

.navbar-cart-icon {
	width: fit-content;
	height: fit-content;
	font-size: 1.2rem;
}