button {
	padding: .5em 1em;

	background-color: #222e38;
	box-shadow: 0 0 .3em black;
	border-radius: 12px;
	border: none;
	font-size: 1.1em;
	transition: .2s;
}
button:hover {
	background-color: rgb(41, 54, 66);
	color: rgb(6, 181, 224);
	cursor: pointer;
}